<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!--<add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>-->
    <add key="AppVersion" value="3.0" />
    <add key="AppVersionDate" value="23 Sept 2012" />
    <add key="DBContestsSelect" value="WebLog_db_MDB" />
    <add key="DBLogsSelect" value="LogConnectionString" />
    <!--<add key="ChartImageHandler" value="storage=memory;deleteAfterServicing=true;"/>-->
    <add key="ChartImageHandler" value="storage=file;privateImages=false;timeout=20;Url=ChartImages;WebDevServerUseConfigSettings=true;/" />
    <add key="DATGeoLiteCity" value="~/App_Data/GeoLiteCity.dat" />
    <add key="DATGeoLiteCountry" value="~/App_Data/GeoIP.dat" />
    <add key="fromEmailAddress" value="Webmaster@logqso.com" />
    <add key="toEmailAddress" value="webmaster@logqso.com" />
    <add key="AuthEmailAddress" value="webmaster@logqso.com" />
    <add key="AuthEmailPwd" value="cn2r9m8r" />
  </appSettings>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=PSS31\SQLEXPRESS2008R2;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="cn2r_db_MDB" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=|DataDirectory|cn2r_db.mdb" providerName="System.Data.OleDb" />
    <add name="Northwind" connectionString="Provider=SQLOLEDB;Data Source=PSS31\PSS31;Integrated Security=SSPI;Initial Catalog=Northwind" providerName="System.Data.OleDb" />
    <add name="WebLog_db_MDB" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|WebLog.mdb" providerName="System.Data.OleDb" />
    <add name="GeoConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|Contests\CqwwSsb2009Contest.mdb" providerName="System.Data.OleDb" />
    <add name="ContestCallsSqlDataSource" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Contests\CqwwSsb2009Contest.mdb;Persist Security Info=True" providerName="System.Data.OleDb" />
    <add name="LogConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Contests\{0}\{1}" providerName="System.Data.OleDb" />
    <add name="LogEntryInfoConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Contests\{0}" providerName="System.Data.OleDb" />
    <add name="LogQSOWeb_MDB" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|LogQsoWeb.mdb" providerName="System.Data.OleDb" />
    <add name="CqResultsConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\CQresults.mdb;Persist Security Info=True" providerName="System.Data.OleDb" />
    <!--<add name="LogQso" connectionString="Data Source=PSS60\SQL2014;UID=jims9m8r;PWD=jims9m8r;Initial Catalog=ContestViewer" providerName="System.Data.OleDb" />-->
    <!--<add name="LogQso" connectionString="Data Source=PSS31\SQLEXPRESS2008R2;UID=jims9m8r;PWD=jims;Initial Catalog=logqso" providerName="System.Data.OleDb" />-->
    <add name="LogQso" connectionString="Data Source=mssql.theredserver.com\MSSQLSERVER2012 ;UID=jims9m8r;PWD=Jims9m8r#;Initial Catalog=logqso" providerName="System.Data.OleDb"/>
  
    <!--<add name="logqsoEntities" connectionString="metadata=res://*/LogQso.csdl|res://*/LogQso.ssdl|res://*/LogQso.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PSS31\SQLEXPRESS2008R2;initial catalog=logqso;persist security info=True;user id=jims9m8r;password=jims;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="logqsoEntities" connectionString="metadata=res://*/LogQso.csdl|res://*/LogQso.ssdl|res://*/LogQso.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PSS60\SQL2014;initial catalog=ContestViewer;persist security info=True;user id=jims9m8r;password=jims9m8r;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="logqsoEntitiesHostfest" connectionString="metadata=res://*/LogQso.csdl|res://*/LogQso.ssdl|res://*/LogQso.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mssql.theredserver.com\MSSQLSERVER2012 ;initial catalog=logqso;persist security info=True;user id=jims9m8r;password=Jims9m8r#;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  
  </connectionStrings>
  <system.web>
    <!--<identity impersonate="true|false" userName="username" password="password"/>-->
    <!--<identity impersonate="true" userName="ident" password="jims"/>-->
    <identity impersonate="true" />
    <customErrors mode="Off" />
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <pages styleSheetTheme="logqso">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
      
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="LogQso"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false"
             requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6"
             minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"
              passwordFormat="Encrypted"
               />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="LogQso" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="LogQso" applicationName="/" name="AspNetSqlRoleProvider"
          type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider"
          type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>
    <machineKey validationKey="15A93FC109F16C1358FBD144D2D972FDA13924E879B77EB1D5CD2B3A836CDA3118D0C9B2004443F22354587B8A82F73F321D9A253FC569FC1718EED955ACA42F"
    decryptionKey="A10CB44A4F848032056C95512C3FA779AB3D47DCE8119E750D7D17E06696FECF"
    validation="SHA1" decryption="AES" />

    <!--<sessionState mode="SQLServer"
      allowCustomSqlDatabase="true"
      cookieless="false" 
      cookieName="ASP.NET_SessionId" 
      timeout="720" 
      regenerateExpiredSessionId="true" 
      sqlConnectionString="Database=logqso;data source=PSS60\SQL2014;UID=jims9m8r;PWD=jims"
 />-->
    <sessionState mode="InProc" cookieless="false" timeout="720" />
  </system.web>
  <system.webServer>
    <!--required by hostfest 2008 server-->
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>


  </system.webServer>
  <system.windows.forms jitDebugging="false" />
  <system.net>
    <mailSettings>
      <smtp>
        <network host="mail.logqso.com" />
      </smtp>
    </mailSettings>
  </system.net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>